.outsideContainer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0%;
    top: 0%;
    background-color: yellow;
}

.titleDiv {
    display: flex;
    position: absolute;
    width: 90%;
    height: 25%;
    left: 5%;
    top: 5%;
    background-color: orange;
}

.title {
    display: inline-block;
    animation: title 1.5s infinite ease-in-out;
    transform-origin: 70% 70%;
    position: absolute;
    right: 50%;
    background-color: aqua;
}

@keyframes title {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(14deg); }
    30% { transform: rotate(-8deg); }
    45% { transform: rotate(14deg); }
    60% { transform: rotate(-4deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}